{{ define "main" }}

{{ $currentDir := .Dir }}
<div class="container">
    <div class="row">
        <div class="col-sm-9">
            {{ partial "breadcrumb.html" . }}

            {{ if .Site.Params.languageNeutral }}
                {{ $.Scratch.Set "listPages" (where .Site.AllPages "Kind" "page") }}
            {{ else }}
                {{ $.Scratch.Set "listPages" .Site.RegularPages }}
            {{ end }}

            {{ $listPages := where ($.Scratch.Get "listPages") "Path" "contains" $currentDir }}
            {{ $paginator := .Paginate $listPages.ByDate.Reverse }}
            {{ range $paginator.Pages }}
                {{ partial "post_summary.html" . }}
            {{ end }}

            <!-- navigation -->
            {{ partial "pagination.html" . }}
        </div>
        <div class="col-sm-3">
            {{ partial "sidebar_site_tags.html" . }}
            {{ partial "sidebar_adsense.html" . }}
        </div>
    </div>
</div>

{{ end }}
